# Node modules (caso esteja usando Node.js)
node_modules/

# Dependências do NPM
npm-debug.log

# Diretórios temporários
*.log
*.tmp
*.swp

# Arquivos de IDEs
.vscode/
.idea/

# Arquivos de sistema
.DS_Store  # Para MacOS
Thumbs.db  # Para Windows
